<%= form_with model: @project, local: true do |form| %>
  <%= form.text_field :name, placeholder: 'name' %><br>
  <%= form.text_area :description, placeholder: 'description' %><br>
  <%= form.email_field :creator_email, placeholder: 'email' %><br>
  <%= form.file_field :image %><br>

  <%= form.submit %>
<% end %>

<h2>List of Projects</h2>

<table>
  <thead>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Creator Email</th>
    <th>Timestamp</th>
  </thead>
  <% @projects.each do |project| %>
    <tbody>
      <td style="width: 200px; height: auto">
        <%= image_tag(project.image, style: "width:100%") if project.image.attached? %>
      </td>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= project.creator_email %></td>
      <td><%= project.created_at %></td>
    </tbody>
  <% end %>
</table>